body{
    background-color: transparent;
}



.navigator{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: calc(0px + 1vmin);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cadastro{
    width: 40%;
    height: calc(80% + 8vmin);
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.preview{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 48%;
    height: calc(80% + 8vmin);
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

